<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills & Achievements</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
•	MySQL server 8.0.30 <br>
•	Microsoft Office<br>
•	Eclipse<br>
•	IDLE 3.2.2<br>
•	Visual Code Studio<br>
•	MySQL workbench 8<br>
•	WireShark 4.2.2
        </p>
      </div>
      <div class="col-lg-4">
        <p>CompTIA Networking Certification<br>
          3.5 GPA graduate from UCF w/ IT Degree<br>
          Experience in: C, Python, Java, and SQL</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="VictorFontana - Resume.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
